.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.min-h-full {
  min-height: 100vh;
}

.header {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  background-color: #0077b6;
  border-radius: 50%;
  padding: 0.5rem;
}

.header-logo img {
  width: 32px;
  height: 32px;
}

.header-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #0077b6;
}

.nav-links {
  display: none;
}

.nav-links a {
  color: #4a4a4a;
  margin-left: 1.5rem;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #0077b6;
}

.nav-contact {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu-button:hover {
  background-color: #f0f0f0;
  color: #0077b6;
}
.main {
  flex: 1;
  background-color: #e6e6f5 ;
}

.hero-section {
  background-image: url('/hospital-background.svg');
  background-size: cover;
  background-position: center;
  padding: 5rem 0;
}

.hero-content {
  text-align: center;
  max-width: 64rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.hero-logo {
  background-color: #e6e6f5 ;
  border-radius: 50%;
  padding: 1rem;
  display: inline-block;
  margin-bottom: 1rem;
  width: 140px; /* Ajusta el tamaño del contenedor según sea necesario */
  height: 140px; /* Ajusta el tamaño del contenedor según sea necesario */
}

.hero-logo img {
  width: 100%; /* La imagen ocupará todo el espacio disponible dentro del contenedor */
  height: auto; /* Mantendrá la proporción de la imagen */
  border-radius: 50%; /* Hace que la imagen también tenga bordes redondeados */
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #0077b6;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.grid-2 {
  grid-template-columns: 1fr;
}

.grid-2-md {
  grid-template-columns: repeat(2, 1fr);
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0077b6;
  margin-bottom: 1rem;
}

.card-text {
  color: #4a4a4a;
}

.card-link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: #0077b6;
  font-weight: 500;
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
}

.secondary-section {
  padding: 4rem 0;
}

.secondary-card {
  background-color: #0077b6;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  color: white;
}

.secondary-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.secondary-card-text {
  color: white;
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-container img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.why-section {
  padding: 4rem 0;
}

.why-title {
  font-size: 2rem;
  font-weight: bold;
  color: #0077b6;
  text-align: center;
  margin-bottom: 2rem;
}

.why-grid {
  display: grid;
  gap: 2rem;
}

.why-grid-3 {
  grid-template-columns: 1fr;
}

.why-grid-3-md {
  grid-template-columns: repeat(3, 1fr);
}

.why-card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
}

.why-card svg {
  width: 3rem;
  height: 3rem;
  color: #0077b6;
  margin-bottom: 1rem;
}

.why-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.why-card-text {
  color: #4a4a4a;
}

.footer {
  background-color: #0077b6;
  color: white;
  padding: 1.5rem 0;
  text-align: center;
}

.footer .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Estilo para el modal */
.modal-dialog {
    margin: 10% auto !important; /* Margen superior e inferior del 10% y centrado horizontalmente */
    max-width: 30% !important; /* Ancho máximo del modal */
}

.modal-content {
    padding: 20px !important; /* Espaciado interno del contenido del modal */
}