/* estilos.css */



.contenedor-operaciones {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Blanco */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

h1 {
    color: #1e4363; /* Azul oscuro */
}

.lista-medicos {
    list-style-type: none;
    padding: 0;
}

.lista-medicos li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #edf2f7; /* Azul claro */
    border-radius: 5px;
}

.lista-medicos li:hover {
    background-color: #c3daee; /* Azul más claro al pasar el ratón */
}
