.contenedor-operaciones {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Blanco */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

h1 {
    color: #1e4363; /* Azul oscuro */
}

.lista-medicos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.lista-medicos th, .lista-medicos td {
    padding: 10px;
    text-align: left;
}

.lista-medicos th {
    background-color: #f2f2f2; /* Gris claro */
    color: #333; /* Negro */
    border-bottom: 2px solid #ddd;
}

.lista-medicos tr:hover {
    background-color: #c3daee; /* Azul más claro al pasar el ratón */
}
