/* del contenedor he quitado el margen ancho */

main > .container {
  padding: 60px 0px 20px;
}

/*footer*/

.footer {
    background-color: #a6c7ea;
    font-size: .9em;
    height: 60px;
    font-family: 'Open Sans', Roboto, Lato, Montserrat, Nunito, 'Source Sans Pro', 'PT Sans', sans-serif;
}

body > footer > div > p {
    color: #fff;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

body{
   font-family: 'Open Sans', Roboto, Lato, Montserrat, Nunito, 'Source Sans Pro', 'PT Sans', sans-serif;
    background-color:#e6e6f5 !important;
    margin: 0px !important;
    padding: 0px !important;
}

.bg-dark{
    background-color: #a6c7ea !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
    font-family: 'Open Sans', Roboto, Lato, Montserrat, Nunito, 'Source Sans Pro', 'PT Sans', sans-serif;
    transition: color 0.3s, transform 0.3s; /* Transición suave del color durante 0.3 segundos */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #0069d9 !important; /* Nuevo color al pasar el ratón sobre el enlace */
    transform: scale(1);/* efecto zoom al hover */
}

/*margen header entre logo*/

.navbar-nav.custom-margin-left {
    margin-left: 4rem; /* Define el margen izquierdo personalizado aquí */
}


/*jumbotron*/
.header-container {
    padding: 50px; /* Ajusta el relleno según tus preferencias */
    background-color: #a6c7ea; /* Color de fondo principal (azul) */
    color: #fff; /* Color del texto (blanco) */
    border-radius: 10px; /* Ajusta el radio del borde según tus preferencias */
    width: 600px;
    height: 350px;
}

.header-container {
    padding: 50px;
    background-color: #a6c7ea;
    color: #fff;
    border-radius: 10px;
    background-image: url('<?= Yii::$app->request->baseUrl ?>/imagenes/logo.png');
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center center; /* Centra la imagen horizontal y verticalmente */
}

.header-container h1 {
    color: #fff; /* Color del título (blanco) */
}

.header-container p {
    color: #f8f9fa; /* Color del texto secundario (gris claro) */
}

.header-container a {
    color: #fff; /* Color de los enlaces (blanco) */
}

.header-container a:hover {
    color: #f8f9fa; /* Color de los enlaces al pasar el cursor (gris claro) */
}

/* Estilos para los botones Operaciones exitosas y Productos estrella */
.btn-operaciones,
.btn-productos {
    background-color: #a6c7ea; /* Azul pastel */
    color: #fff; /* Texto oscuro para contrastar */
    border-color: #add8e6; /* Color del borde igual al fondo */
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    border-radius: 5px; /* Ajusta el radio del borde según sea necesario */
    text-decoration: none; /* Quita la decoración de subrayado del texto */
    transition: background-color 0.3s, color 0.3s; /* Transición suave de los colores */
}

.btn-operaciones:hover,
.btn-productos:hover {
    background-color: #89a6c7; /* Color de fondo más oscuro al pasar el ratón */
    color: #fff; /* Texto blanco */
}

.medicos-citas {
    margin-top: 20px;
}

.pacientes-lista {
    margin-bottom: 30px;
}

.form-add-paciente {
    max-width: 400px;
    margin-top: 30px;
}
